body {
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px 50px 0 50px;
    min-height: 95vh;
}

footer {
    text-align: right;
    color: midnightblue;
}

h1 {
    font-size: 4rem;
    margin: 0 0 0 0;
}

h2 {
    margin: 0 0 0 0;
}   

h3 {
    margin: 0 0 0 0;
}   

h4 {
    margin: 0 0 0 0;
}   

 /* ----------------------------- */

.card {
    width: 45%;
}

.header2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.header3 {
    margin-bottom: 10px;
}

.left {
    float: left;
}

.main {
    flex: 1;
}

.profile-img {
    clip-path: circle();
    height: 300px;
    width: 300px;
    margin: 20px 20px 20px 0;
}

.profile-gif {
    height: 20px;
    width: 30px;
}

.profile-text {
    color: rgb(30, 207, 181);
    margin: 0 0 0 25px;
}

.project-header {
    margin-top: 5px;
}

.project-text {
    color: rgb(17, 145, 126);
    margin: 0 0 0 25px;
}

.tile-image {
    height: 200px;
    float: left;
    margin-right: 30px;
}

.right {
    float: right;
}
