body {
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px 50px 0 50px;
    min-height: 95vh;
}

footer {
    text-align: right;
    color: midnightblue;
}

h1 {
    font-size: 3.75rem;
    margin: 0 0 0 0;
}

h2 {
    margin: 0 0 0 0;
}   

h3 {
    margin: 0 0 0 0;
}   

h4 {
    margin: 0 0 0 0;
}   

 /* ----------------------------- */

.header2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.header3 {
    margin-bottom: 10px;
}

.left {
    float: left;
}

.main {
    flex: 1;
}

.profile-gif {
    height: 20px;
    width: 30px;
}

.profile-img {
    clip-path: circle();
    height: 335px;
    width: 335px;
    margin: 20px 20px 20px 0;
}

.profile-text {
    color: rgb(30, 207, 181);
    margin: 0 0 0 25px;
}

.project-header {
    margin-top: 5px;
}

.project-text {
    color: rgb(17, 145, 126);
    margin: 0 0 0 25px;
}

.tile-image {
    height: 200px;
    float: left;
    margin-right: 30px;
}

.tile-image-sq {
    height: 250px;
    float: left;
    margin-right: 30px;
    width: 250px;
}

.right {
    float: right;
}

/* Default styling for images, stacking them on small screens */
.image-container {
    display: flex;
    flex-direction: column;
}

.image-container img {
    width: 100%;
    height: auto;
    margin: 10px 10px 10px 10px;
}

/* Media query for larger screens, displaying images side by side */
@media (min-width: 768px) {
    .image-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .image-container img {
        width: 50%; /* Adjust the width percentage based on the number of images */
        margin-bottom: 0;
    }
}

/* Default styling for cards, stacking them on small screens */
.card-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between stacked cards */
}

.card-container_3 {
    display: flexbox;
    flex-direction: row;
    gap: 10px; /* Space between stacked cards */
    width: 450px;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Media query for larger screens, displaying cards side by side */
@media (min-width: 768px) {
    .card-container {
        flex-direction: row;
        gap: 20px; /* Space between side by side cards */
    }

    .card {
        width: 50%; /* Adjust the width percentage based on the number of cards */
    }
}